<ion-view title="Location Settings" hide-tabs hide-back-button="false">
    <ion-content has-header="true" class="gray-container">

        <ion-list>

            <br />
            <br />
            <br />
            <br />

            <ion-toggle toggle-class="toggle-positive" ng-model="data.locationSharing" ng-change="toggleChange()">
                Share Location
            </ion-toggle>

            <br />
            <br />

            <ion-item>Share Location with...</ion-item>
            
            
            <ion-list>
                <ion-toggle toggle-class="toggle-positive">
                    Pero
                </ion-toggle>
                <ion-toggle toggle-class="toggle-positive">
                    Marko
                </ion-toggle>
            </ion-list>

        </ion-list>

    </ion-content>
</ion-view>
