<ion-view title="Add Friends" hide-tabs hide-back-button="false">
    <ion-content has-header="true" class="gray-container">

        <ion-list>
            <br />
            <br />
            <br />
            <br />

            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="friend" placeholder="Enter a friends username...">
            </label>

            <!--<ion-checkbox>Pero</ion-checkbox>
            <ion-checkbox>Perovic</ion-checkbox>
            <ion-checkbox>Pero Pero</ion-checkbox>-->  
        </ion-list>

        <br />

        <div class="padding">
            <button class="button button-block button-assertive gray-container" ng-click="addFriend(friend)">
            Add Friend
            </button>
        </div>

        <br />

        <ion-item class="item-borderless hide-on-keyboard-open gray-container"> &nbsp; </ion-item>

        <br />

    </ion-content>
</ion-view>