<ion-view title="Created meeting name" hide-back-button="true">
    <ion-content has-header="true" class="gray-container">

        <div class="row gray meeting-padding">
            <div class="meeting-labels col col-50">
                <p>Location: <br /><span class="meeting-data">Sjenjak 135, Osijek</span></p>
                <p>Date: <br /><span class="meeting-data">21.01.2017</span></p>
                <p>Starting time: <br /><span class="meeting-data">18:00</span></p>
                <p>Ending time: <br /><span class="meeting-data">20:00</span></p>
            </div>

            <div class="meeting-friends col col-50">

                <ion-list>
                    <ion-item>Marko <i class="friend-status icon ion-record balanced"></i></ion-item>
                    <ion-item>Pero <i class="friend-status icon ion-record calm"></i></ion-item>
                    <ion-item><strong>Luka</strong><i class="friend-status icon ion-record assertive"></i></ion-item>
                </ion-list>

            </div>
        </div>


    </ion-content>
</ion-view>