<ion-view title="More">
    <ion-content class="has-tabs gray-container">
       
         <ion-list>

             <br />
             <br />
             <br />
             <br />
           
            <ion-item ui-sref="tab.location-settings">Location Settings</ion-item>

            <ion-item ui-sref="tab.add-friends">Add Friends</ion-item>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            
            <ion-item ng-click="logout()">Log out</ion-item>
               
        </ion-list>

    </ion-content>

</ion-view>