<ion-view title="New meeting" hide-back-button="false">
    <ion-content class="top has-header padding" overflow-scroll="true" scroll="true" ng-controller="MeetingCtrl">

        <form name="myForm" validate>

                <label class="item-input item-stacked-label col">
                    <input class="login-input" type="text" name="name" ng-model="data.Mname" ng-minlength="3" required>
                    <hr />
                    <span class="input-label">Name</span>
                </label>

                <label class="item-input item-stacked-label col">
                    <input class="login-input" type="text" name="location" ng-model="data.Mlocation" required>
                    <hr />
                    <span class="input-label">Location</span>
                </label>

                <label class="item-input item-stacked-label col">
                    <input class="login-input" type="date" name="date" ng-model="data.Mdate" required>
                    <hr />
                    <span class="input-label">Date</span>
                </label>

                <label class="item-input item-stacked-label col">
                    <input class="login-input" type="time" name="start-time" ng-model="data.MStime" required>
                    <hr />
                    <span class="input-label">Starting time</span>
                </label>

                <label class="item-input item-stacked-label col">
                    <input class="login-input" type="time" name="alert-time" required>
                    <hr />
                    <span class="input-label">Alert</span>
                </label>

                <label class="item-input item-stacked-label col">
                    <input class="login-input" type="time" name="ending-time" ng-model="data.MEtime" required>
                    <hr />
                    <span class="input-label">Ending time</span>
                </label>

                <label class="item-input item-stacked-label col">
                    <input class="login-input" type="search" name="friends" required>
                    <hr />
                    <span class="input-label">Friends</span>
                </label>
        </form>

        <br />

        <div>
            <button class="button button-block button-assertive" ng-disabled="myForm.$invalid" ui-sref="tab.new-meeting-created">
                Create
            </button>
        </div>

        <br />

        <ion-item class="item-borderless hide-on-keyboard-open"> &nbsp; </ion-item>

        <br />

    </ion-content>
</ion-view>