<ion-view title="">
    
    <ion-content class="has-header profile-background">
        <div class="row gray profile">
            <div class="col col-40 profile-image">
                <img ng-src="img/profile.png" height="100" widht="100" />
            </div>
            <div class="col col-60">

                <p class="user">Username</p>

                <p class="profile-set">GPS<a ng-click="" class="icon ion-ios-navigate profile-icon assertive"></a></p>

                <p class="profile-set">Location<a ng-click="" class="icon ion-ios-location profile-icon assertive"></a></p>

            </div>
        </div>
        <div class="container">
            <div class="col col-100">
                <h5>Active meetings</h5>
                <p>Test</p>
            </div>

            <div class="col col-100">
                <h5>Friends requests</h5>
                <p>Test</p>
            </div>

            <div class="col col-100">
                <h5>Favorite meetings</h5>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
            </div>
        </div>

    </ion-content>

</ion-view>