<ion-tabs class="tabs-striped tabs-icon-top tabs-color-active-positive {{$root.hideTabs}}">

    <!-- Home Tab -->
    <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="tab.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- Map Tab -->
    <ion-tab title="Map" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" ui-sref="tab.map">
        <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>

    <!-- New Meeting Tab -->
    <ion-tab title="New Meeting" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/new-meeting">
        <ion-nav-view name="tab-new-meeting"></ion-nav-view>
    </ion-tab>

    <!-- More Tab -->
    <ion-tab title="More" icon-off="ion-ios-settings" icon-on="ion-ios-settings-strong" href="#/tab/more">
        <ion-nav-view name="tab-more"></ion-nav-view>
    </ion-tab>


</ion-tabs>