<ion-view hide-nav-bar="true" hide-back-button="true">

    <ion-content class="gray" scroll="false">
        <div class="row started">
            <div class="col col-80 center">
                <h1 class="light">Get Started</h1>
            </div>
        </div>

        <div class="row">
            <div class="col col-60 center">

                <a class="button button-assertive bwidth" ui-sref="sign-up" role="button">Sign up</a>

                <p class="text_pad light">or if You already have an account...</p>

                <a class="button button-assertive bwidth" ui-sref="log-in" role="button">Log In</a>

            </div>
        </div>
    </ion-content>

</ion-view>