<ion-view title="Log In" hide-back-button="false">
    <ion-content class="top has-header padding" overflow-scroll="true" scroll="true">

	  <form name="myForm" validate>
				<label class="item-input item-stacked-label">
                    <input class="login-input" type="text" name="username" ng-model="username" ng-minlength="5" required>
                    <hr />
                    <span class="input-label">Username</span>
				</label>
				<label class="item-input item-stacked-label">
                    <input class="login-input" type="password" name="password" ng-model="password" ng-minlength="6" required>
                    <hr />
				    <span class="input-label">Password</span>
				</label>
	  </form>

        <br />

        <div>
            <button class="button button-block button-assertive" ng-disabled="myForm.$invalid" ui-sref="tab.home">
                Log In
            </button>
        </div>

        <br />

	</ion-content>
</ion-view>