.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.gray {
    background-color: #3c3c3c;
}

.started {
    padding-top: 150px;
    padding-bottom: 60px;
}

.text_pad {
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bwidth {
    width: 60%;
}

div.footer-button a.button-full {
    width:100%;
    margin-top: 0
}

.top {
    padding-top: 100px;
}

hr {
    margin: 0;

}

.login-input {
    height: 25px !important;
}

label.item-input.item-stacked-label {
    padding-right: 16px;
    padding-left: 9px;
}

span.input-label {
    font-style: italic;
    font-size: 12px;
}

.login-icon {
    float: left;
    padding-top: 7px;
}