.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.gray {
    background-color: #3c3c3c;
}

.started {
    padding-top: 150px;
    padding-bottom: 70px;
}

.text_pad {
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bwidth {
    width: 60%;
}
